
.carousel-inner{
    height: 100%;
    /* border: 10px solid orange; */
}

.nav-background{
    background-color: #7BC0A4;
}


.item-background{
    background-color: #194772;
}


.main-margin{
    margin-top: 100px;
}

 .crop {
    height: 75%;
    overflow: hidden;
}

/* .crop img {
    margin: -75px 0 0 0;
} */