

body{
    font-family: 'Raleway', sans-serif !important;
}

.post-wrap{
    width: 90%;
}

.head{
    font-size: 2.5rem;
}

.time{
    font-size: 2rem;
}

.block {
    border-bottom: 1px solid forestgreen;
}
@media (max-width: 991.98px) {
    .post-wrap{
        width: 70%;
    }
}

