a.lang {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #5F5E5E;
    color: white;
    text-decoration: none;
}

a.lang:hover {
    background-color: #3B3C3E;
    text-decoration: none;
}

a.lang:focus{
    background-color: #3B3C3E;
}
a.lang:active{
    background-color: #3B3C3E;
}

a.lang i {
    display: block;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 3px;

}

a.lang:hover i,
a.lang:hover p{
    color: #6795DE;
}

.row-2,
.row-3 {
    margin-top: 12px;
}

p {
    margin-top: 3px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}