
nav{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
}


::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(191, 192, 193);
    width: 10px;
}

a.navbar-brand img  {
    width: 150px;
    /*height: 100px;*/
}

.container-layout{
    margin-top: 60px;
}

.navbar-nav{
    width: 100%;
}

.navbar-expand-md{
    padding-left: 0px;
}

.container-layout{
    padding-left: 5px;
}

.navbar > .fa, .fab, .fal, .far, .fas{
    display: inline;
}

.navbar > .dropdown-item.active{
    background-color: darkcyan;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: slategrey ;
}


.navbar:hover{
    box-shadow: 0 0 35px -2px rgba(0,0,0,.2);
}


.navbar-nav > .nav-item:last-child{
    margin-left: auto;
}

.languages {
    min-width: 30px !important;
    height: 190px !important;
    border-top: none;
    background-color: #F9F9F9;
}

.languages .dropdown-item{
    width: 46px;
    height: 47px;
    padding: 8px 8px 8px 8px;
}
/* to do how to change width and height of a collapsed dropdown menu */


.row > #w1{
    background-color: transparent;
    margin: 10px auto 0px auto;

}

.row > #w1 > *{
    font-size: 16px;
}

i{
    padding-top: 8px;
}

.container-layout{
    margin-top: 70px;
}


nav[aria-label='breadcrumb']{
    margin-top: 70px;
}


@media (max-width: 767.98px) {
    a.navbar-brand{
        margin-left: 5px;
    }
}


@media (max-width: 850px) {
    nav{
        font-size: 14px;
    }
}

@media (max-width: 990px) {
    .dropdown-menu{
        background-color: #F9F9F9;
        border: none;
    }

    .navbar-nav > .nav-item:last-child{
        margin-right: auto;
        margin-left: 10px;
    }

    .navbar-nav > .nav-item{
        margin-left: 10px;
    }



    #navbarDropdown.langs{
        padding: 8px 8px 8px 8px;
    }
}