nav{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: black;
}

.navbar > .fa, .fab, .fal, .far, .fas{
    display: inline;
}

.navbar > .dropdown-item.active{
    background-color: darkcyan;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: slategrey ;
}

.navbar{
    padding: 0px;
}

.my_nav{
    background-color: white;
}

.navbar:hover{
    box-shadow: 0 0 35px -2px rgba(0,0,0,.2);
}

.nav-item{
    margin-right: 13px;
    /*font-weight: bolder;*/
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.navbar-right{
    margin-left: 10px;
}

.languages {
    min-width: 30px !important;
    height: 190px !important;
    border-top: none;
    background-color: #F9F9F9;
}

.languages .dropdown-item{
    width: 46px;
    height: 47px;
    padding: 8px 8px 8px 8px;
}
/* to do how to change width and height of a collapsed dropdown menu */


.row > #w1{
    background-color: transparent;
    margin: 10px auto 0px auto;

}

.row > #w1 > *{
    font-size: 16px;
}

i{
    padding-top: 8px;
}


nav[aria-label='breadcrumb']{
    margin-top: 70px;
}

@media (max-width: 990px) {
    .dropdown-menu{
        background-color: #F9F9F9;
        border: none;
    }

    #navbarDropdown.langs{
        padding: 8px 8px 8px 8px;
    }
}