body{
    background-color: #F1F3F5 !important;
}

.wrap{
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(191, 192, 193);
    width: 10px;
}

.search-field .input-group {
    width: 350px;

}

.search-field input[type=text] {
    border: 2px solid #6C757D;
    outline: none;
    background-color: #A3A3A3;
}


.search-field .form-control:focus {
    border-color: #6C757D;
    background-color: #A3A3A3;
    box-shadow: none;
    color: white;
}

.search-field .form-control:active {
    border: none;
}

a.lang {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #5F5E5E;
    color: white;
    text-decoration: none;
}

a.lang:hover {
    background-color: #3B3C3E;
    text-decoration: none;
}

a.lang:focus{
    background-color: #3B3C3E;
}
a.lang:active{
    background-color: #3B3C3E;
}

a.lang i {
    display: block;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 3px;

}

a.lang:hover i,
a.lang:hover p{
    color: #6795DE;
}

.row-2,
.row-3 {
    margin-top: 12px;
}

p {
    margin-top: 3px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/*End of languages block */

/*Posts properties*/
.post {
    width: 70%;
    height: 101px;
    border-radius: 6px;
    background-color: #949597;
    margin-top: 5px;
}


.icon {
    font-size: 35px;
    color: white;
}

.logo-small {
    display: none;
    color: white;
}

.topic {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topic a{
    text-decoration: none;
    color: #3F3F42;
}

.topic a:hover{
    text-decoration: none;
    color: white;
}

a.read:hover {
    text-decoration: none;
    color: white;
}

.read {
    display: block;
    margin: 3px 13px 0px 0px;
    text-align: center;
    text-decoration: none;
    color: #424242;
    font-family: 'Raleway', sans-serif;

}

.read .button {
    border-radius: 4px;
    background-color: #7CA4E3;
}

.description {
    display: block;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
    color: white;
}

.details {
    margin-right: 13px;
    float: right;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.fa-star {
    color: #FFC107;
}

.fa-comment {
    color: #FFF626;
}

.small-device{
    margin-top: 3rem !important;
}

.col-lg-12 + nav{
    background-color: transparent;
    margin: 10px auto 0px auto;

}

.col-lg-12 + nav{
    font-size: 16px;
}

.col-lg-12 + nav > .pagination .page-link{
    color: black;
    background-color: #C3C3C3;
}

.col-lg-12 + nav > .pagination .page-link:hover{
    color: black;
    background-color: #C3C3C3;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.col-lg-12 + nav > .pagination .page-item.disabled .page-link{
    background-color: #BABABA;
}

.col-lg-12 + nav > .pagination .page-item:last-child .page-link{
    background-color: #BABABA;
}

.col-lg-12 + nav > .pagination .page-item.active .page-link{
    background-color: #EEEEEE;
    color: black;
    border-color: gainsboro;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .icon {
        display: none;
    }

    .read {
        display: none;
    }

    .logo-small {
        display: inline;
        font-size: 22px;
    }

    .post {
        height: 400px;
    }

    .topic {

        font-size: 12px;
    }

    .description {
        font-size: 10px;
    }

    .small-device {
        display: block;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        margin-top: 0rem !important;
    }


}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .icon {
        font-size: 30px;
    }

    .post {
        width: 100%;
        height: 300px;
    }

    .small-device {
        margin-top: 0rem !important;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .post {
        height: 130px;
    }

    .description {
        font-size: 13px;
    }

    .topic {
        font-size: 16px;
    }

    .small-device {
        margin-top: 0rem !important;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .details {
        font-size: 13px;
    }
}