.profile_avatar{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comment_avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.like_image{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.comment_date_text{
    font-size: x-small;
}

.user_info{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.text_border_bottom{
    width: 20%;
    border-bottom: 1px solid #666666;
}

.divider {
    width: 20%;
}

.code_snippet_pre {
    border: 1px solid #ddd;
    color: #666;
    font-family: monospace;
    font-size: 15px;
    display: block;
    word-wrap: break-word;
    padding-left: 10%;
    padding-right: 10%;
}

.code_snippet_row{
    margin-right: auto;
    margin-left: auto;
}